<?xml version="1.0"?>

<model>
  <name>AutCup city tiles</name>
  <version>1.0</version>
  <sdf version="1.6">autcup_city_tiles.sdf</sdf>
  
  <author>
   <name>Daniel Nesvera</name>
   <email>polenta</email>
  </author>
  
  <description>
  AUTCup city tiles to test formats
  </description>
</model>
